<html>
<body>
<form action="/registration" th:object="${user}" method="POST" enctype="utf8">
    <style>
        body {
            background-image: url("https://marketplace.canva.com/EAEw4tqSmZk/1/0/1600w/canva-motivational-quote-abstract-minimalist-desktop-wallpaper-Vg6MBxUwt0Q.jpg");
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!--    <div>-->
<!--        <label th:text="#{phoneNumberSender}">Enter your phone number </label>-->
<!--        <input th:field="*{phoneNumberSender}"/>-->
<!--        <p th:each="error: ${#fields.errors('phoneNumberSender')}"</p>-->
<!--    </div>-->
<!--    <div>-->
<!--        <label th:text="#{surNameSender}">Enter your surName </label>-->
<!--        <input th:field="*{surNameSender}"/>-->
<!--        <p th:each="error : ${#fields.errors('surNameSender')}"-->
<!--           th:text="${error}">Validation error</p>-->
<!--    </div>-->
<!--    <div>-->
<!--        <label th:text="#{email}">Enter your email </label>-->
<!--        <input type="email" th:field="*{email}"/>-->
<!--        <p th:each="error : ${#fields.errors('email')}"-->
<!--           th:text="${error}">Validation error</p>-->
<!--    </div>-->
<!--    <div>-->
<!--        <label th:text="#{password}">New password </label>-->
<!--        <input type="password" th:field="*{password}"/>-->
<!--        <p th:each="error : ${#fields.errors('password')}"-->
<!--           th:text="${error}">Validation error</p>-->
<!--    </div>-->
<!--    <div>-->
<!--        <label th:text="#{confirmPass}">Confirm password </label>-->
<!--        <input type="password" th:field="*{matchingPassword}"/>-->
<!--    </div>-->
    <div class="mb-3">
        <label for="phoneNumberSender" class="form-label"> Enter your phone number  </label>
        <input type="text" class="form-control"  th:field="*{phoneNumberSender}" id="phoneNumberSender">
    </div>
    <div class="mb-3">
        <label for="surNameSender" class="form-label"> Enter your surName </label>
        <input type="text" class="form-control" th:field="*{surNameSender}" id="surNameSender">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label"> Enter your email </label>
        <input type="email" class="form-control"  th:field="*{email}" id="email">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label"> New password </label>
        <input type="text" class="form-control" th:field="*{password}" id="password">
    </div>
    <div class="mb-3">
        <label for="matchingPassword" class="form-label"> Confirm password  </label>
        <input type="text" class="form-control"  th:field="*{matchingPassword}" id="matchingPassword">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>