<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--</div>-->

<!--<form action="/login/register" method="post">-->
<!---->
<!--    <p>Please register </p>-->

<!--    <div class="form-outline mb-4">-->
<!--        <input type="phoneNumberSender" id="form2Example11" class="form-control"-->
<!--               placeholder="Phone number" />-->
<!--        <label class="form-label" for="form2Example11">Phone Number </label>-->
<!--    </div>-->

<!--    <div class="form-outline mb-4">-->
<!--        <input type="password" id="form2Example22" class="form-control" />-->
<!--        <label class="form-label" for="form2Example22">Password</label>-->
<!--    </div>-->

<!--    <div class="form-outline mb-4">-->
<!--        <input type="phoneNumberRecipient" id="form2Example11" class="form-control"-->
<!--               placeholder="Phone number" />-->
<!--        <label class="form-label" for="form2Example11">Phone Number </label>-->
<!--    </div>-->

<!--    <div class="form-outline mb-4">-->
<!--        <input type="password" id="form2Example22" class="form-control" />-->
<!--        <label class="form-label" for="form2Example22">Password</label>-->
<!--    </div>-->


<!--</body>-->
<!--</html>-->